@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Venta de Automoviles de Costa Rica</p>
    <hr class="my-4">
    <p>Venta de Automoviles</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Mas información</a>
    </p>
</div>