@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contactos</h1>
        <p class="lead">Puede contactarnos al número: 8910-8989 o al correo electronico irvin-go@hotmail.com</p>
    </div>
</div>