@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Servicios</h5>
        <h6 class="card-subtitle mb-2 text-muted">A que nos dedicamos</h6>
        <p class="card-text">Venta de Automoviles es una empresa costarricense dedicada 100% a la venta de automoviles a nivel nacional. Nos encargamos de ofrecerle los mejores precios y además los mejores carros. Los esperemos..</p>
        <a href="#" class="card-link">Mas información</a>
        <a href="#" class="card-link">Comienza ya</a>
    </div>
</div>